.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 750px;  
}

.title {
  margin: 0;
  padding: 1rem;
  font-size: 3rem;
  color: white
}

.header {
  flex: 0 0 4rem;
  background-color: rgb(139, 139, 139);
}

.footer {
  flex: 0 0 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1rem;
  justify-content: space-between;
  background-color: rgb(139, 139, 139);
}