.section {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  min-height: 320px;
}

.left {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  flex: 0 0 50%;
  overflow: auto;
}