.button {
  background-color: Black;
  color: White;
  border: none;
  padding: 5px 20px;
}

.button:hover {
  background-color: rgb(110, 110, 110);
}

.button:active {
  background-color: rgb(155, 155, 155);
}