.container {
  background-color: rgb(230, 230, 230);
  margin: auto;
  width: 40rem;
  font-size: 1.2rem;
  width: 60rem;
  height: 40rem;
  overflow: auto;
  position: relative;
}

.code {
  padding: 2rem;
}

.button {
  background-color: rgb(156, 156, 156);
}