.container {
  width: 20rem;
  border: 1px solid black;
  cursor: pointer;
}

.card:hover {
  background-color: rgb(230, 230, 230);
}

.image {
  width: 100%;
  margin: 0;
}

.text {
  padding: 0.3rem 2rem;
}

.name {
  font-size: 1.7rem;
  font-weight: 600;
  margin: 0 0 1rem 0;
}

.description {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 0 3rem 0;
}